
/**/
#ID_background {
	/*background-image:url(..\\img\\beijing-3.jpg);/*背景图片*/
	background-image:url(img\\beijing-3.jpg);/*背景图片*/
   	background-position:0% 10%; /*位置*/
	background-repeat:no-repeat;/*重复*/
	background-color: #CCC; /*颜色*/
	height: 954px; /*高度*/
	width: 1902px; /*宽度*/
	position: relative; /*置顶*/
	top: -8.5px; /*上边距*/
	left: -8.5px; /*左边距*/
}
/**/
#fengchen {
	top:0px;
	left:591px;
	position:absolute;
	height: 240px;
    width: 720px;
}
#back{
	top:400px;
	left:591px;
	position:absolute;
	height: 440px;
    width: 720px;
}
#b_0{
	top:280px;
	left:1180px;
	position:absolute;
	height: 120px;
    width: 180px;
}
#b_1{
	top:457px;
	left:511px;
	position:absolute;
	height: 120px;
    width: 80px;
}
#div_zero{
	position:absolute;
	top:400px;
	left:591px;
	background:white no-repeat;
    opacity:0.6;/*图片透明度*/
	height:232px;
	width:720px;
}
/**/
.class_button {
	top:300px;
	left:591px;
	position:absolute;
}

/**/
.text {
	color:red;
	font:900 30px 黑体;
	height: 64px;
    width: 128px;
    
	text-align:center;/*左右居中*/
	line-height:64px;/*上下居中*/
}
